# User settings
xcuserdata/
*.xcuserstate

# Build products
build/
DerivedData/

# Old Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/xcode

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Sensitive files (you might add these manually)
*.p12
*.mobileprovision
*.icloudcontainer
